dist: bionic
language: python
python:
  - "3.7"
  - "3.8"
  - "3.9"
  - "3.9-dev"  # 3.9 development branch
  - "nightly"  # nightly build
install:
  - pip install -r requirements.txt
  - pip install ".[testing]"
script:
  - curl -Ls https://scrypt.io/setup | sh -s -- -f -v 1.6.1
  - cd -
  - pytest
